@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: #f9fbff;
  font-family: 'Poppins', sans-serif;
}

.app {
  max-width: 1440px;
}

.pr-10p {
  padding-right: 10px;
}

.ml-10p {
  margin-left: 10px;
}

.pl-30p-w10 {
  padding-left: 30px;
}
